SBAplAmil/AmilSBITEs/v1/ITE004/Resources/ITE004.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ITE004">ITE004 - Validação Código Corretora</doc>
   <resources>
      <resource path="/validaCodCorretora">
         <method name="POST" soa:name="ValidaCodCorretora">
            <doc title="POST ValidaCodCorretora">Valida se a corretora pode ou nao vender para o CEP informado.</doc>
            <request>
               <param name="cep" style="query" type="xsd:string"/>
               <param name="codCorretora" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>