SBAplAmil/AmilSBITEs/v1/ITE011/Resources/ITE011.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ITE011">ITE011 - Busca os dados dos PF/PME baseados no CPF/CNPJ</doc>
   <resources>
      <resource path="/consultaCNSEG">
         <method name="POST" soa:name="ConsultaCNSEG">
            <doc title="POST ConsultaCNSEG">Busca os dados dos PF/PME baseados no CPF/CNPJ</doc>
            <request>
               <param name="identificador" style="query" type="xsd:string">
                  <doc title="identificador">Campo Identificador (CPF ou CNPJ)</doc>
               </param>
               <param name="dataNascimento" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
