SBAplAmil/AmilSBITEs/v1/ITE003/Resources/ITE003AplAmil.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ITE003AplAmil">RestReference</doc>
   <resources>
      <resource path="/{cpf}/validacep/{cep}">
         <method name="POST" soa:name="ValidaCPF">
            <request>
               <param name="cpf" style="template" type="xsd:string"/>
               <param name="cep" style="template" type="xsd:string"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
