SBAplAmil/AmilSBITEs/v1/ITE003/Resources/ITE003AplAmil.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ITE003AplAmil">RestReference</doc>
   <resources>
      <resource path="/ite003">
         <method name="POST" soa:name="ValidaCPFCorretor">
            <doc title="POST ValidaCPFCorretor">No momento da compra, valida se o corretor pode ou nao vender para o CEP informado</doc>
            <request>
               <param name="cep" style="query" type="xsd:string">
                  <doc title="cep">CEP Compra</doc>
               </param>
               <param name="cpf" style="query" type="xsd:string">
                  <doc title="cpf">CPF Corretor</doc>
               </param>
               <representation mediaType="application/json"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
   </resources>
</application>
