SBAplAmil/AmilSBITEs/v1/ITE001/Resources/ITE001.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ITE001">ITE001 - Busca Área de Comercialização</doc>
   <resources>
      <resource path="/areaComercializacao">
         <method name="POST" soa:name="AreaComercializacao">
            <doc title="POST AreaComercializacao">Valida se o produto poderá ser comercializado baseado no CEP
Valida se o CEP pertence a localização informada
Retorna dados de endereço</doc>
            <request>
               <param name="cep" style="query" type="xsd:string"/>
               <param name="codProduto" style="query" type="xsd:string"/>
               <param name="codFilial" style="query" type="xsd:string"/>
               <param name="codUnidade" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
