SBAplAmil/AmilSBITEs/v1/ITE019/Resources/ITE019.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ITE019">ITE019 - Consula o código de carencia(PRC) baseado no Cod de Produto + Cod Nomativa + Pagamento</doc>
   <resources>
      <resource path="/consultaPRC">
         <method name="POST" soa:name="ConsultaPRC">
            <request>
               <param name="codProduto" style="query" type="xsd:string"/>
               <param name="codNormativa" style="query" type="xsd:string"/>
               <param name="formaPagamento" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
