SBAplAmil/AmilSBITEs/v1/ITE006/Resources/ITE006AplAmil.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ITE006AplAmil">RestReference</doc>
   <resources>
      <resource path="/estado">
         <method name="POST" soa:name="ListEstado">
            <request>
               <param name="produto" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="204"/>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/especialidade">
         <method name="POST" soa:name="ListEspecialidade">
            <request>
               <param name="bairro" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="204"/>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/bairro">
         <method name="POST" soa:name="ListBairro">
            <request>
               <param name="regiao" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="204"/>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/redeCredenciada">
         <method name="POST" soa:name="ListRedeCredenciada">
            <request>
               <param name="produto" style="query" type="xsd:string"/>
               <param name="estado" style="query" type="xsd:string"/>
               <param name="municipio" style="query" type="xsd:string"/>
               <param name="regiao" style="query" type="xsd:string"/>
               <param name="bairro" style="query" type="xsd:string"/>
               <param name="especialidade" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="204"/>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/municipio">
         <method name="POST" soa:name="ListMunicipio">
            <request>
               <param name="estado" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/regiao">
         <method name="POST" soa:name="ListRegiao">
            <request>
               <param name="municipio" style="query" type="xsd:string"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="204"/>
            <response status="500"/>
         </method>
      </resource>
   </resources>
</application>