SBAplAmil/AmilSBITEs/v1/ITE005/Resources/ITE005.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ITE005">ITE005 - Busca Boleto</doc>
   <resources>
      <resource path="/buscaBoleto">
         <method name="POST" soa:name="BuscaBoleto">
            <doc title="POST BuscaBoleto">Buscando boleto de compra</doc>
            <request>
               <param name="idSisAmil" style="query" type="xsd:string">
                  <doc title="idSisAmil">Número do ID da proposta gerada   no SISAMIL.</doc>
               </param>
               <param name="tpProposta" style="query" type="xsd:string">
                  <doc title="tpProposta">BOLPME: tipo proposta PME | BOLDENTPF: tipo proposta PF (dental)</doc>
               </param>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>